* {
    padding: 0px;
    margin: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient( rgb(180,143,98), rgb(225,207,188));
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.f-grow-1 {
    flex-grow: 1;
}

.h100 {
    height: 100%;
}

.btn {
    background: #33ff33;
    color: #000;
    border: none;
    padding: 4px 8px;
    cursor: pointer;
}
.btn:hover {
  background: #ffffff;
}

.input {
    background: transparent;
    border: none;
    color: #33ff33;
    font-family: inherit;
    outline: none;
}